# Server Configuration
port=8080

# Storage Configuration
storage_path=./storage

# Kafka Configuration
kafka_brokers=localhost:9092
kafka_topic=image-processing
kafka_group_id=image-processor-group

